<mat-card style="padding-bottom: 10px;">
    <b><span>Dashboard</span></b>
    <br />
    <div class="row">
        
        <div class="column">
            <div class="card">
                <h2 class="title">Total Categories</h2>
                <h1>{{ statsCount?.category }}</h1>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h2 class="title">Total Products</h2>
                <h1>{{ statsCount?.product }}</h1>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h2 class="title">Total Bills</h2>
                <h1>{{ statsCount?.bill }}</h1>
            </div>
        </div>

    </div>
</mat-card>