<div class="home-container">
    <nav style="z-index: 1000;">
      <span class="logo">
        <mat-icon>storefront</mat-icon> <span>My Cafe Store</span>
      </span>
      <ul>
          <li 
            class="clickable"
            (click)="showLoginDialog()">
            Login
          </li>
          <li class="vertical-rule">|</li>
          <li 
            class="clickable" 
            (click)="showSignupDialog()">
            Register
          </li>
          <li class="vertical-rule">|</li>
          <li 
            class="clickable"
            (click)="showForgotPassDialog()">
            Forgot Password?
          </li>
      </ul>
    </nav>

    <main>
      <div class="bg-image"></div>
      <div class="timeline-content">
          <div class="header">
            <h1>Best Seller</h1>
          </div>
          <div class="timeline">

            <div class="row-left-right">

              <div class="text">
                <h2>Veggie Pizza</h2>
                <div>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean interdum egestas urna quis vehicula. Cras quis feugiat enim,
                  at venenatis elit. Aliquam at dapibus ipsum, id congue arcu.
                  Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                  per inceptos himenaeos.
                </div>
              </div>

              <div class="image-content">
                <div class="timeline-pipe-start"></div>
                <img
                  class="image"
                  src="https://images.unsplash.com/photo-1552539618-7eec9b4d1796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1402&q=80"
                  alt="Veggie Pizza"
                />
              </div>
              <div class="blank"></div>

            </div>

            <div class="row-right-left">

              <div class="text">
                <h2>Pepperoni & Cheese Pizza</h2>
                <div>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean interdum egestas urna quis vehicula. Cras quis feugiat enim,
                  at venenatis elit. Aliquam at dapibus ipsum, id congue arcu.
                  Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                  per inceptos himenaeos.
                </div>
              </div>
  
              <div class="image-content">
                <div class="timeline-pipe"></div>
                <img
                  class="image"
                  src="https://images.unsplash.com/photo-1618213837799-25d5552820d3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1442&q=80"
                  alt="Pepperoni & Cheese Pizza"
                />
              </div>
              <div class="blank"></div>
  
            </div>

            <div class="row-left-right">

              <div class="text">
                <h2>Burger</h2>
                <div>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nam iaculis urna libero, nec eleifend mi consectetur eget.
                  Donec sollicitudin pellentesque mi at gravida.
                  Fusce luctus dictum ipsum, eget dictum lorem consectetur nec.
                  Sed lobortis sapien eu elementum feugiat.
                  In hac habitasse platea dictumst.
                  <br /><br />
                  Mauris facilisis nisi eu arcu consequat rutrum.
                  Donec a rutrum orci. 
                  Vestibulum diam tellus, ultrices vel massa sit amet, lobortis iaculis magna.
                </div>
              </div>

              <div class="image-content">
                <div class="timeline-pipe-end"></div>
                <img
                  class="image"
                  src="https://images.unsplash.com/photo-1568901346375-23c9450c58cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=699&q=80"
                  alt="Burger"
                />
              </div>
              <div class="blank"></div>

            </div>

          </div>

      </div>
    </main>

    <footer>
      <h2>All rights reserved &#169;2023</h2>
    </footer>
</div>