<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
      <span>Add Category</span>
      <span class="ui-material-spacer"></span>
      <button 
        mat-icon-button 
        mat-dialog-close
        class="ui-icon">
        <mat-icon style="color: white;">close</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="addCategoryForm">
        <div fxFlex fxLayout="column">

            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required/>
                <mat-error 
                *ngIf="addCategoryForm.controls.name.touched &&
                       addCategoryForm.controls.name.invalid">
                    <span *ngIf="checkFormRequired()">
                        This field must have a value
                    </span>
                </mat-error>
            </mat-form-field>
        </div>

        <mat-dialog-actions align="end" style="padding: 0">
            <button 
                mat-raised-button 
                color="primary" type="submit"
                (click)="submitForm()"
                [disabled]="!(addCategoryForm.dirty && addCategoryForm.valid)">
                <mat-icon fontIcon="add"></mat-icon> <span>Add</span>
            </button>
            <button mat-raised-button color="warn" mat-dialog-close type="button">
                <mat-icon fontIcon="cancel"></mat-icon> <span>Close</span>
            </button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
