<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
      <span>Do you really wanna logout?</span>
      <span class="ui-material-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-actions align="end">
    <button 
        mat-raised-button 
        color="primary"
        (click)="logout()">
        <mat-icon fontIcon="send"></mat-icon> <span>Logout</span>
    </button>
    <button mat-raised-button color="warn" mat-dialog-close type="button">
        <mat-icon fontIcon="cancel"></mat-icon> <span>Cancel</span>
    </button>
</mat-dialog-actions>
